  <nav id="sidebar">
    <div class="p-4 pt-5">
      <h1>
        <a href="/" class="logo"><%= PAGE_TITLE %></a>
      </h1>
      <% if(galleryAvailable.length> 0){ %>
        <ul class="list-unstyled mb-5">
          <% for (gallery of galleryAvailable) { %>
            <li <%= (typeof menuActive != 'undefined' ? (menuActive == gallery.replace(/\.|\-/g, " ") ? 'class=active' : '') : '') %>>
              <a href="<%= gallery.toLowerCase() %>">
                <%= gallery.replace(/\.|\-/g, " ") %>
              </a>
            </li>
          <% } %>
        </ul>
      <% } else { %>
        <div class="empty_menu">
          <div class="icon-box">
            <i class="fad fa-folder-open"></i>
          </div>
        </div>
      <% } %>
      <div class="footer">
        <p><%= new Date().getFullYear();%> &copy; <%= PAGE_TITLE %>.</p>
      </div>
    </div>
  </nav>