<%- include('partials/header.ejs') %>
  <div class="wrapper d-flex align-items-stretch">
    <%- include('partials/sidebar.ejs') %>
    <div id="content" class="p-4 p-md-5 pt-5">
      <h2 class="mb-4 title"><%= title.replace(/\.|\-/g, " ") %></h2>
      <% if(imagesPerGallery.length> 0){ %>
        <div class="row">
          <% imagesPerGallery.forEach(function(image) { %>
            <div class="col-md-3 pb-4">
              <div class="card card-image">
                <a href="<%= image.url %>" target="_blank">
                  <img class="card-img-top" src="<%= image.url %>" alt="<%= image.name %>">
                </a>
              </div>
            </div>
          <% }); %>
        </div>
      <% } else { %>
        <div class="empty_gallery">
          <div class="empty-box">
            <div class="icon-box">
              <i class="fas fa-image"></i>
            </div>
            <span>Nenhuma imagem foi encontrada para esta categoria.</span>
          </div>
        </div>
      <% } %>
    </div>
  </div>
<%- include('partials/footer.ejs') %>