<%- include('partials/header.ejs') %>
  <div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content modal-image">
        <div class="modal-body">
          <img id="image">
        </div>
        <div class="modal-footer">
          <span class="image_name"></span>
          <a class="btn btn-primary btn-download">Download image</a>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper d-flex align-items-stretch">
    <%- include('partials/sidebar.ejs') %>
    <div id="content" class="p-4 p-md-5 pt-5">
      <h2 class="mb-4 title"><%= title.replace(/\.|\-/g, " ") %></h2>
      <% if(imagesPerGallery.length> 0){ %>
        <div class="row">
          <% imagesPerGallery.forEach(function(image) { %>
            <div class="col-md-3 pb-5">
              <div class="card card-image">
                <img class="card-img-top" src="<%= image.url %>" data-toggle="modal" data-target="#myModal" alt="<%= image.name %>">
              </div>
            </div>
          <% }); %>
        </div>
      <% } else { %>
        <div class="empty_gallery">
          <div class="empty-box">
            <div class="icon-box">
              <i class="fas fa-image"></i>
            </div>
            <span>No images were found for this category.</span>
          </div>
        </div>
      <% } %>
    </div>
  </div>
<%- include('partials/footer.ejs') %>